
ion-grid{
    --ion-grid-column-padding:0;
       height:100vh;
       padding:0 !important;
 }
 
 .rowParent{
    height:200px;
    background-color: purple;
    height:50vh;
   
    
 }
 .rowChild{
    height:25vh;
    background-color: green !important;
    position:relative;
 }
 .imgScale{
    width:100%;
 }
 
 .textonImage{
    position:absolute;
    bottom:10px;
    left:20px;
     p{
       background-color: rgba(0,0,0,0.7);
       color:#ffffff;
       font-size: 14px;
      
    }
 }