<ion-content>
  <ion-slides pager loop="true"  [options]="slideOpt">
     <ion-slide *ngFor="let item of pictureSlides">
        <img src="assets/images/{{item.slideimg}}" alt="{{item.alt}}">
     </ion-slide>
  </ion-slides>
  <div class="welcomeDiscribtion">
     <h2>Welcome to <span>Shop cart</span> </h2>
     <hr class="hrline">
     <p>Each online store has its own store and bag, but if you want to go shopping 
        in multiple places at once, so you only have one bag
     </p>
  </div>
</ion-content>
<ion-footer class="ion-no-border" (click)="goSignUP()">
  <ion-toolbar color="secondary" style="text-align: center;">
     <ion-title>GET STARTED</ion-title>
  </ion-toolbar>
</ion-footer>